<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="offline_1.sdlab.com.weathertoday">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.sdlab.jings.weathertoday.WeatherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sdlab.jings.weathertoday.SettingActivity"
            android:label="@string/settings"
            android:parentActivityName="com.sdlab.jings.weathertoday.WeatherActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="offline_1.sdlab.com.weathertoday.com.sdlab.com.weathertoday.WeatherActivity" />
        </activity>
        <activity android:name="com.sdlab.jings.weathertoday.AboutUs"></activity>
    </application>

</manifest>